DB_PROVIDER=sqlite
DB_CONNECTION_URL=
COMMAND_GUILD_ID=
DISCORD_TOKEN=
DISCORD_SECRET=
ENCRYPTION_KEY=
HTTP_HOST=127.0.0.1
HTTP_PORT=3000
HTTP_EXTERNAL=http://127.0.0.1:3000
HTTP_INTERNAL=
HTTP_TRUST_PROXY=false
PUBLIC_BOT=false
INVALIDATE_TOKENS=0
OVERRIDE_ARCHIVE=true
PUBLISH_COMMANDS=true
SUPER=
